[Credentials]
aws_access_key_id = {{ JENKINS_ANALYTICS_CONFIG_AWS_ACCESS_KEY_ID }}
aws_secret_access_key = {{ JENKINS_ANALYTICS_CONFIG_AWS_SECRET_ACCESS_KEY }}

[Boto]
debug = 1
ec2_region_name = {{ COMMON_REGION }}
ec2_region_endpoint = ec2.{{ COMMON_REGION }}.amazonaws.com
