export HOME={{ jenkins_analytics_configs_home }}
export WORKON_HOME={{ jenkins_analytics_configs_venvs }}
export VIRTUALENVWRAPPER_HOOK_DIR={{ jenkins_analytics_configs_venvs }}
export PIP_VIRTUALENV_BASE={{ jenkins_analytics_configs_venvs }}
export EXTRA_VARS="@{{ jenkins_analytics_configs_home }}/emr-vars.yml"
export WORKSPACE={{ jenkins_analytics_configs_home }}/workspace
export TASKS_REPO="https://github.com/Stanford-Online/edx-analytics-pipeline.git"
export TASKS_BRANCH=rc
export TASK_USER=hadoop
export OVERRIDE_CONFIG={{ jenkins_analytics_configs_home }}/analytics_override.cfg
export TERMINATE=true
export VIRTUALENV_EXTRA_ARGS='--system-site-packages'
export TRACKING_LOGS_S3_BUCKET="{{ JENKINS_ANALYTICS_CONFIG_TRACKING_LOGS_S3_BUCKET }}" # bucket containing edxapp tracking logs
export HADOOP_S3_BUCKET="{{ JENKINS_ANALYTICS_CONFIG_HADOOP_S3_BUCKET }}" # bucket for temporary/intermediate storage
export TASK_CONFIGURATION_S3_BUCKET="{{ JENKINS_ANALYTICS_CONFIG_TASK_CONFIGURATION_S3_BUCKET }}" # bucket containing task configuration files
export EDXAPP_S3_BUCKET="s3://client-name-edxapp"  # bucket for StudentEngagementCsvFileTask reports
export AWS_REGION={{ DEPLOYMENT_REGION }}
export BOTO_CONFIG=/edx/var/jenkins/.boto
